@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.filter-container {
    display: flex;
    justify-content: flex-end;
    background-color: #f8f9fa;
    position: relative;
    background-color: #000000;
    margin-right: 5%;
    font-family: 'Pretendard-Regular';
    gap: 15px;
  }
  
  
  .filter-dropdown {
    position: relative;
  }
  
  .dropdown-button {
    background-color: #000000;
    color: white;
    border: none;

    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .dropdown-button:hover {
    background-color: #000000;
  }
  
  .dropdown-content {
    text-align: left;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.236);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    z-index: 50;
    margin-right: 15%;
    transform: translateX(-50%);
    width: 80px;
  }
  
  .dropdown-content button {
    background-color: rgba(207, 207, 207, 0.521);
    color: #333;
    padding: 0.75rem 1.5rem;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dropdown-content button:hover {
    background-color: #f1f1f1e3;
  }
  
  .content {
    padding: 1rem;
  }
  
  .card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    position: relative;
    width: 340px;
    height: 200px;
    margin: 10px;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

  
  .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 박스를 꽉 채우도록 설정 */
    position: absolute;
    top: 0;
    left: 0;
  }
  
  
  
  button{
    text-align: left;
  }