@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

.roomNum{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    font-family: 'Pretendard-Regular';
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Pretendard-Regular';
}

.room{
    width: 300px;
    height: 300px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 10%;
    padding-top: 0px;
    font-family: 'Pretendard-Regular';
}

.rooms{
    padding-bottom: 10%;
    font-family: 'Pretendard-Regular';
}

.booth1,
.booth2{
    width: 90px;
    height: 50px;
    border: 2px;
    outline:solid 1px black;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    padding: 3%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-family: 'Pretendard-Regular';
}

.booth3,
.booth4{
    width: 90px;
    height: 50px;
    border: 2px;
    outline:solid 1px black;
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    padding: 3%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-family: 'Pretendard-Regular';
}

.door1{
    width: 10px;
    height: 80px;
    border: 2px;
    outline:dashed  2px black;
    float: right;
    margin-top: 15%;
}
.door2{
    width: 10px;
    height: 80px;
    border: 2px;
    outline:dashed  2px black;
    float: left;
    margin-top: 40%;
    margin-right: 3%;
}  