.roomNum{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
}

.room{
    width: 300px;
    height: 300px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 10%;
    padding-top: 0px;
}

.rooms{
    padding-bottom: 10%;
}

.booth1{
    width: 90px;
    height: 50px;
    border: 2px;
    outline:solid 1px black;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    padding: 3%;
}
.booth2{
    width: 90px;
    height: 50px;
    border: 2px;
    outline:solid 1px black;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    padding: 3%;

}

.booth3{
    width: 90px;
    height: 50px;
    border: 2px;
    outline:solid 1px black;
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    padding: 3%;
}
.booth4{
    width: 90px;
    height: 50px;
    border: 2px;
    outline:solid 1px black;
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    padding: 3%;

}
.door1{
    width: 10px;
    height: 80px;
    border: 2px;
    outline:dashed  2px black;
    float: right;
    margin-top: 15%;
}
