.container{
  background-color: black;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  
}

.App-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: black;
  color: white;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  

}

.waplogo{
  padding-top: 5px;
  width: 70px;
  height: auto;
}

.menu-icon {
  cursor: pointer;
  font-size: 25px;

}
.menuContainer{
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    right: 0;
    position: sticky;
    z-index: 100;
    top: 30px;
    left: 0;
    right: 0;
    
    
}
.menu {
  width: 380px;
  height: 100%;
  background-color: #000000;
  color: white;
  padding: 10px;
  position: fixed;
}

.startLine{
  border-width:3px 0 0 0;
  border-color:#fff;
}

.line{
  border-width:0.7px 0 0 0;
  border-color:#fff;
}

.menu ul{
  list-style-type: none; /* 기본 리스트 스타일 제거 */
  padding: 0;
  margin: 0;
}

.menu li{
  margin-right: 40px; /* 각 아이템 간의 간격 조절 */
  color: white;
  padding: 10px;
  font-size: x-large;
  font-weight:700;
  font-family: "Inter", sans-serif;
  font-style: normal;
  
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px 0;
  
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 340px;
  height: 200px;
  margin: 10px;
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative; /* 부모 요소를 기준으로 자식 요소의 위치를 설정하기 위해 */
}

.image {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.project1 {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 비율을 유지하면서 박스에 맞춰 자르기 */
}

.titlebox {
  width: 355px;
  height: 100px;
  padding: 15px;
  background-image: linear-gradient(to top, #00000050, #ffffff00);
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute; /* 위치를 자유롭게 조정하기 위해 */
  bottom: 0; /* 박스의 아래쪽에 위치하도록 설정 */
  left: 0; /* 박스의 왼쪽을 기준으로 위치 설정 */
  color: #ffffff;
}

.titlebox h2 {
  margin: 0;
  font-size: 25px;
}

.titlebox p {
  margin: 5px 0 0;
  font-size: 15px;
}

