.teckstackselector-form {
    width: 90%;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #2A2A2A;
    color: #7E7E7E;
    border-radius: 10px;
    margin: 0 auto; 
    margin-top: 10px;
}