/* 어드민 페이지 공용 CSS */
.adminContainer {
  width: 100%;
  margin: 0;
  padding: 56px;
  background-color: #000;
  min-height: 100vh; /* 화면 전체를 채우도록 보장 */
  box-sizing: border-box; /* 패딩을 포함한 전체 너비 계산 */
  color: #fff;
}
