@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary: #abd4fd;
  --active: #d9d9d9;
  --disable: #616161;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* 상단 공통부분 */
.upperBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 29px;
  width: 100%;
  box-sizing: border-box;
}

.voteSemester {
  width: 212px;
  font-size: 50px;
  font-weight: 700;
  flex-shrink: 0;
  text-align: center;
}

.openBtn {
  padding: 5px 39px;
  font-size: 40px;
  font-weight: 700;
  border: none;
  border-radius: 23px;
  background-color: var(--primary);
  color: black;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #606060;
  margin: 55px 0;
}

/* 프젝 목록 */

/* 투표 결과 */
