@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary: #abd4fd;
  --progress: #5e5e5e;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ================= 상단 ================= */

.upperBox {
  width: 100%;
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepCard {
  width: 100%;
  height: 90%;
  background: #353535;
  border-radius: 36px;
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.stepper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--progress);
  font-size: 18px;
}

.step span {
  margin-top: 10px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--progress);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.active .circle {
  background: var(--primary);
  color: black;
}

.line {
  flex: 1;
  height: 2px;
  background: var(--progress);
}

.nextBtn {
  margin-left: auto;
  width: 168px;
  height: 66px;
  border: 1.5px solid #a2a2a2;
  border-radius: 63px;
  background: #535353;
  color: white;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

/* ================= 하단 ================= */

.underBox {
  flex: 4;
  display: flex;
  align-items: flex-start;
}

.btnArea {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.csvRow {
  padding-left: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  color: white;
}

.exportBtn {
  width: 160px;
  height: 50px;
  border-radius: 100px;
  border: 2px solid white;
  background: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    0.15s ease,
    border-color 0.15s ease,
    color 0.15s ease;
}

.exportBtn:hover,
.exportBtn:active {
  color: white;
  border: 2px solid var(--primary);
  background-color: var(--primary);
}

.teamBuildBtn {
  margin-top: 30px;
  width: 355px;
  height: 70px;
  border-radius: 74px;
  background: var(--primary);
  font-size: 35px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
