@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.container {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* 상단부 */
.upperBox {
  width: 100%;
  border-radius: 36px;
  background: #353535;
  flex-basis: 60%;
  flex-shrink: 0;
}

/* 하단부 */
.underBox {
  width: 100%;
  height: 100%;
  flex-basis: 40%;
  flex-shrink: 0;
}

.underItems {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.btnSet {
  display: flex;
  font-size: 30px;
  gap: 40px;
  align-items: center;
  margin-bottom: 13px;
}

.exportBtn {
  width: 166px;
  border: solid 2px #fff;
  border-radius: 103px;
  background: transparent;
  text-align: center;
}

.teamBuildBtn {
  width: 355px;
  height: 66px;
  border-radius: 74px;
  background: #abd4fd;
  color: black;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-top: auto;
}
