@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary: #abd4fd;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 29px;
}

.Box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 42px;
  background: #313131;
  padding: 37px 40px 28px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
}

/* 목록 박스 */
.onlyBtn {
  width: 131px;
  height: 30px;
  border-style: solid;
  border-radius: 68px;
  border-width: 1px;
  border-color: #626262;
  font-size: 15px;
  color: #626262;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.memberList {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  margin-top: 13px;
}

/* 권한 변경 박스 */
.changeContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.changeContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 51px;
  align-items: center;
}

.controler {
  display: flex;
  gap: 12px;
}
