@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary: #abd4fd;
  --progress: #5e5e5e;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ================= 상단 ================= */

.upperBox {
  width: 100%;
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepCard {
  width: 100%;
  height: 442px;
  background: #353535;
  border-radius: 36px;
  display: flex;
  align-items: start;
  padding: 0 160px;
  position: relative;
}

.stepper {
  margin-top: 121px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--progress);
  font-size: 18px;
}

.step span {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.circle {
  width: 93px;
  height: 93px;
  border-radius: 50%;
  background: var(--progress);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: background-color 0.2s ease;
  position: relative;
  z-index: 2;
}

.circle SVG {
  width: 35px;
  height: 26px;
}

.active .circle {
  background: var(--primary);
  color: black;
  transition-delay: 0.8s;
}

.active .circle svg {
  animation: popIn 0.4s 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) backwards;
}

@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.line {
  flex: 1;
  height: 5px;
  background: var(--progress);
  margin-bottom: 46px;
  position: relative;
  z-index: 1;
}

.line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: var(--primary);
  transition: width 0.8s ease-in-out;
  z-index: 2;
}

.line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, var(--primary) 0%, var(--progress) 100%);
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  z-index: 1;
}

.completedLine {
  background: var(--progress);
}

.completedLine::after {
  width: 100%;
}

.gradientLine {
  background: var(--progress);
}

.gradientLine::before {
  opacity: 1;
  transition-delay: 0.8s;
}

.nextBtn {
  width: 168px;
  height: 66px;
  border: 1.5px solid #a2a2a2;
  border-radius: 63px;
  background: #535353;
  color: white;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 36px;
  right: 51px;
}

/* ================= 하단 ================= */

.underBox {
  flex: 4;
  display: flex;
  align-items: flex-start;
}

.btnArea {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.csvRow {
  padding-left: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  color: white;
}

.exportBtn {
  width: 160px;
  height: 50px;
  border-radius: 100px;
  border: 2px solid white;
  background: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    0.15s ease,
    border-color 0.15s ease,
    color 0.15s ease;
}

.exportBtn:hover,
.exportBtn:active {
  color: white;
  border: 2px solid var(--primary);
  background-color: var(--primary);
}

.teamBuildBtn {
  margin-top: 30px;
  width: 355px;
  height: 70px;
  border-radius: 74px;
  background: var(--primary);
  font-size: 35px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
