@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary: #abd4fd;
  --active: #d9d9d9;
  --disable: #616161;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.upperBox {
  display: flex;
  justify-content: space-between;
}

/* 상단 공통부분 */
.upperLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 29px;
  width: 100%;
  box-sizing: border-box;
}

.upperRight {
  white-space: nowrap;
  align-self: flex-end;
  font-size: 20px;
}

.voteSemester {
  width: 212px;
  font-size: 50px;
  font-weight: 700;
  flex-shrink: 0;
  text-align: center;
}

.openBtn {
  padding: 5px 39px;
  font-size: 40px;
  font-weight: 700;
  border: none;
  border-radius: 23px;
  background-color: var(--primary);
  color: black;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #606060;
  margin-top: 40px;
  margin-bottom: 45px;
}

/* 프젝 카드 그리드 */
.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(303px, 1fr));
  gap: 18px;
  height: calc(100vh - 400px);
  overflow-y: auto;
  padding-right: 10px; /*스크롤바와 카드가 겹치지 않도록 넣었음 */
  justify-items: center;
}

.card {
  width: 303px;
  height: 230px;
  border: 3px solid var(--primary);
  border-radius: 31px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  padding-top: 12px;
}

.card.selected {
  border: none;
}

.card .selected .title {
  color: var(--disable);
}

.selected .thumbnail {
  filter: brightness(60%);
}

.selected .title {
  color: var(--disable);
}

.thumbnail {
  width: 277px;
  height: 175px;
  border-radius: 21px;
  object-fit: cover;
  transition: filter 0.25s ease-in-out;
  user-select: none;
}

.title {
  width: 265px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.1s ease-in-out;
}

.summitWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.summit {
  margin-top: 15px;
  width: 145px;
  height: 51px;
  border-radius: 52px;
  background: var(--primary);
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: 700;
  align-self: flex-end;
  cursor: pointer;
}
/* 투표 결과 */
