@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary: #abd4fd;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 73px;
}

.title {
  width: 351px;
  text-align: left;
  margin-top: 16px;
}

.eng {
  font-size: 30px;
  font-weight: 700;
}

.kr {
  font-size: 25px;
}

.pageBtn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pageBtn button {
  width: 292px;
  height: 66px;

  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: white;

  border-radius: 74px;
  border-width: 1px;
  border-color: black;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.active {
  background: var(--primary) !important;
  color: black !important;
}
