.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modalBox {
  width: 400px;
  background: #1e1e1e;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
