@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary: #abd4fd;
}

/*  모달 박스 */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modalBox {
  width: 500px;
  background: #1e1e1e;
  padding: 35px 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.headerTop {
  display: flex;
  font-size: 25px;
  justify-content: space-between;
}

/* 선택한 프로젝트  */
.selectedTitle {
  margin-top: 20px;
  font-weight: 700;
  color: var(--primary);
}

/* 헤더 */

/* 하단 버튼 */
.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
