/* Login.css */
.login-page {
    text-align: center;
    width: 100%;
    height: 100vh;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    padding-top: 20px;
    isolation: isolate;
    position: relative;
    background: linear-gradient(180deg, #A0AFFF 0%, #B4EDFE 100%);
    overflow: visible;
  }

  .login-page::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 100%);
    z-index: -1; /* 배경 뒤로 보냄 */
}

  .login-page .login-caption{
    margin-top: 200px;
    font-size: 15px; 
    color: white; 
    font-family: 'Pretendard-Regular';
    line-height: 0.5;
    text-align: left;
    width: 80%;
    margin-left: 10%; 
    margin-right: auto; 
  }

  .login-button no-login{
    border-color: red;
  }

  .login-page .Kakao-image{
    width: 30px;
    border-radius: 50%;       /* 둥글게 */
    object-fit: cover;        /* 이미지 비율 유지 */
    margin-right: 5px;
    background-color: rgba(250,225,0);
  }
  
  .login-page .login-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .login-page .login-button {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }
  
  .login-page .kakao,
  .login-page .logout,
  .login-page .no-login {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }

  .login-page .kakao:hover,
  .login-page .logout:hover,
  .login-page .no-login:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .login-page .login-button:hover {
    opacity: 0.9;
  }

  .login-page .login-mini-caption{
    font-size: 12px; 
    color: white; 
    font-family: 'Pretendard-Regular';
  }