@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.role_select_form {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Pretendard-Regular';
}

.question{
    display: flex;
    gap: 10px;
    font-family:'Pretendard-Regular';
    align-items: center;
}

.text{
    font-size: 24px;
    justify-content: center;
    
}

.btn_group{
    display: flex;
    gap: 10px;
}