@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.comments_info{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    width: 85%;
    margin-bottom: 5px;
    font-family: 'Pretendard-Regular';
    border-radius: 15px;
    border: #363636 1px solid;
    padding: 10px 10px;
    cursor: pointer;
}
.comments_info:hover{
    background-color: #363636;
}
.user_image{
    width: 10%;
}
.user_info{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.commenter{
    width: 100%;
    font-size: 12px;
    color: #B2B2B2;
}
.commentContent{
    width: 100%;
    font-size: 10px;
color: #ffffff;
}