@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

.edit_button{
    width: 80px;
    padding: 10px 20px;
    background-color: #02FF2E;
    color: #000000;
    border: none;
    border-radius: 100px;
    font-size: 10px;
    cursor: pointer;
    font-family: 'Pretendard-Regular';
}

.edit_button:hover{
    background-color: #ffffff;
    color: #000000;
}